@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2)
		format("woff2");
	unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9,
		U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839,
		U+A8E0-A8FB;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2)
		format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F,
		U+A720-A7FF;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2)
		format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153,
		U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

html {
	font-family: "Poppins";
}
@media (prefers-color-scheme: light) {
	html {
		color: #2a2a2a;
		background-color: #efefef;
	}
}
@media (prefers-color-scheme: dark) {
	html {
		background-color: #2a2a2a;
		color: #efefef;
	}
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 48px;
}

.heading {
	font-size: 96px;
	line-height: 96px;
	margin-top: 48px;
}
@media (max-width: 768px) {
	.heading {
		font-size: 64px;
		line-height: 64px;
	}
}
@media (prefers-color-scheme: dark) {
	.heading {
		text-shadow: 8px 8px 0
			rgba(239, 239, 239, 0.2509803922);
	}
}
@media (prefers-color-scheme: light) {
	.heading {
		text-shadow: 8px 8px 0
			rgba(42, 42, 42, 0.2509803922);
	}
}

.link {
	text-decoration: none;
	color: inherit;
}

.subheader {
	font-size: 32px;
	line-height: 48px;
	max-width: 600px;
	text-align: center;
	margin: 16px 48px 0 48px;
}
@media (max-width: 768px) {
	.subheader {
		font-size: 20px;
		line-height: 32px;
	}
}

.subheading {
	font-size: 64px;
	line-height: 64px;
	text-align: center;
	margin: 0 16px 0 16px;
}
@media (max-width: 768px) {
	.subheading {
		font-size: 40px;
		line-height: 48px;
	}
}
@media (prefers-color-scheme: dark) {
	.subheading:nth-of-type(0) {
		text-shadow: 8px 8px 0
			rgba(239, 239, 239, 0.3764705882);
	}
}
@media (prefers-color-scheme: dark) {
	.subheading:nth-of-type(1) {
		text-shadow: 8px 8px 0
			rgba(239, 239, 239, 0.2509803922);
	}
}
@media (prefers-color-scheme: light) {
	.subheading {
		text-shadow: 8px 8px 0
			rgba(42, 42, 42, 0.2509803922);
	}
}

.modules {
	margin-bottom: 88px;
	background-color: #ff21ed;
	padding: 48px;
	border-radius: 22.5%;
}

.icons {
	display: flex;
	justify-content: space-evenly;
	margin-top: 48px;
}
@media (max-width: 550px) {
	.icons {
		flex-direction: column;
	}
}

.title {
	font-size: 40px;
	line-height: 40px;
}
@media (max-width: 768px) {
	.title {
		font-size: 32px;
		line-height: 48px;
	}
}

.icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin: 0 16px 0 16px;
}
@media (max-width: 550px) {
	.icon {
		margin: 16px 0;
	}
}
@media (max-width: 425px) {
	.icon {
		margin: 16px 0;
	}
}

.vector {
	margin-bottom: 16px;
}

.explanation {
	display: flex;
	align-items: center;
	margin: 48px 0 48px 0;
	justify-content: center;
}
@media (max-width: 1024px) {
	.explanation {
		flex-direction: column;
	}
}
.explanation .text {
	font-size: 32px;
	line-height: 48px;
	text-align: center;
	max-width: 600px;
	margin: 0 48px;
}
@media (max-width: 768px) {
	.explanation .text {
		font-size: 20px;
		line-height: 32px;
	}
}
@media (max-width: 1024px) {
	.explanation .text {
		margin-top: 48px;
	}
}

.photo {
	min-width: 292px;
	min-height: 292px;
	background-image: url(/szymon-hyziak.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 45%;
}

.buttons {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 48px;
}
@media (max-width: 1024px) {
	.buttons {
		flex-direction: column;
	}
}

.package,
.documentation {
	font-size: 32px;
	line-height: 48px;
	text-align: center;
	padding: 16px 88px;
	border-radius: 88px;
	border: 4px solid transparent;
	transition: all 450ms ease-out;
	margin: 0 48px;
}
@media (max-width: 768px) {
	.package,
	.documentation {
		font-size: 20px;
		line-height: 32px;
	}
}
@media (prefers-color-scheme: dark) {
	.package,
	.documentation {
		box-shadow: 8px 8px 0
			rgba(239, 239, 239, 0.2509803922);
	}
}
@media (prefers-color-scheme: light) {
	.package,
	.documentation {
		box-shadow: 8px 8px 0 rgba(42, 42, 42, 0.2509803922);
	}
}
@media (max-width: 1024px) {
	.package,
	.documentation {
		margin: 16px 88px;
	}
}
@media (max-width: 768px) {
	.package,
	.documentation {
		padding: 8px 24px;
	}
}
@media (max-width: 425px) {
	.package,
	.documentation {
		margin: 16px 48px;
	}
}
.package:hover,
.documentation:hover {
	cursor: pointer;
}

.package {
	color: #2a2a2a;
	background-color: #edff21;
}
.package:hover {
	border-color: #2a2a2a;
}

.documentation {
	color: #efefef;
	background-color: #ff21ed;
}
.documentation:hover {
	border-color: #efefef;
}

.footer {
	font-size: 24px;
	line-height: 24px;
	font-weight: 400;
	text-align: center;
	margin: 0 10vw 48px;
	line-height: 150%;
}
@media (max-width: 768px) {
	.footer {
		font-size: 16px;
		line-height: 24px;
	}
}
@media (prefers-color-scheme: dark) {
	.footer {
		color: #efefef;
	}
}
@media (prefers-color-scheme: light) {
	.footer {
		color: #2a2a2a;
	}
} /*# sourceMappingURL=index.css.map */
