// optimized for screens >320px and <1600px   

@import "module"

*
    padding: 0
    margin: 0
    box-sizing: border-box
    user-select: none

html
    font-family: $font-family

    @media(prefers-color-scheme: light)
        color: $black
        background-color: $white

    @media(prefers-color-scheme: dark)
        background-color: $black
        color: $white

.header
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: $size-M

.heading
    @include heading
    margin-top: $size-M

    @media(prefers-color-scheme: dark)
        text-shadow: $light-shadow

    @media(prefers-color-scheme: light)
        text-shadow: $dark-shadow

.link
    text-decoration: none
    color: inherit

.subheader
    @include standard-text
    max-width: 600px
    text-align: center
    margin: $size-S $size-M 0 $size-M

.subheading
    @include subheading
    text-align: center
    margin: 0 $size-S 0 $size-S

    &:nth-of-type(0)
        @media(prefers-color-scheme: dark)
            text-shadow: $intense-light-shadow

    &:nth-of-type(1)
        @media(prefers-color-scheme: dark)
            text-shadow: $light-shadow

    @media(prefers-color-scheme: light)
        text-shadow: $dark-shadow

.modules
    margin-bottom: $size-L
    background-color: $pink
    padding: $size-M
    border-radius: 22.5%

.icons
    display: flex
    justify-content: space-evenly
    margin-top: $size-M

    @media(max-width: 550px)
        flex-direction: column

.title
    @include module-name

.icon
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around
    margin: 0 $size-S 0 $size-S

    @media(max-width: 550px)
        margin: $size-S 0

    @media(max-width: 425px)
        margin: $size-S 0

.vector
    margin-bottom: $size-S

.explanation
    display: flex
    align-items: center
    margin: $size-M 0 $size-M 0
    justify-content: center

    @media(max-width: 1024px)
        flex-direction: column

    .text
        @include standard-text
        text-align: center
        max-width: 600px
        margin: 0 $size-M

        @media (max-width: 1024px)
            margin-top: $size-M

.photo
    min-width: $dimension
    min-height: $dimension
    background-image: url(/szymon-hyziak.jpg)
    background-size: cover
    background-position: center
    border-radius: 45%

.buttons
    display: flex
    justify-content: space-evenly
    margin-bottom: $size-M

    @media(max-width: 1024px)
        flex-direction: column

.package, .documentation
    @include standard-text
    text-align: center
    padding: $size-S $size-L
    border-radius: $size-L
    border: 4px solid transparent
    transition: all 450ms ease-out
    margin: 0 $size-M

    @media(prefers-color-scheme: dark)
        box-shadow: $light-shadow

    @media(prefers-color-scheme: light)
        box-shadow: $dark-shadow

    @media(max-width: 1024px)
        margin: $size-S $size-L

    @media(max-width: 768px)
        padding: $size-S / 2 $size-M / 2

    @media (max-width: 425px)
        margin: $size-S $size-M

    &:hover
        cursor: pointer

.package
    color: $black
    background-color: $yellow

    &:hover
        border-color: $black

.documentation
    color: $white
    background-color: $pink

    &:hover
        border-color: $white

.footer
    @include footer-text
    text-align: center
    margin: 0 10vw $size-M
    line-height: 150%

    @media(prefers-color-scheme: dark)
        color: $white

    @media(prefers-color-scheme: light)
        color: $black
